.nav {
    display: flex;
    gap: 4px;
  }
  
  .link {
    color: black;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .active {
    color:cornflowerblue;
  }
  .image{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height:400px;
    margin-top: 10px;
  }
  .span{
font-weight: 700;
text-decoration: underline;

  }
  .over{
font-style:italic;
  }
  .back{
    color:white;
    font-weight: 700;
  }